/************************************************* Sidebar *************************************/
.anchor-pane {
    -fx-background-color: #f4f4f4;  /* Couleur de fond claire */
    -fx-padding: 10;
}

/* Styles pour la ToolBar verticale */
.tool-bar {
    -fx-background-color: #ea2e45;  /* Fond sombre */
    -fx-padding: 40;
    -fx-spacing: 10;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}

/* Style pour les boutons dans la ToolBar verticale */
.tool-bar .button {
    -fx-background-color: #ea2e45;  /* Couleur de fond des boutons */
    -fx-text-fill: white;  /* Couleur du texte */
    -fx-font-size: 14px;
    -fx-pref-width: 130px;
    -fx-pref-height: 35px;
    -fx-border-radius: 5px;  /* Coins arrondis */
    -fx-background-radius: 5px; /* Coins arrondis */
    -fx-border-color: #7f8c8d;  /* Bordure plus claire */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0.5, 2, 2);
}

/* Style au survol des boutons */
.tool-bar .button:hover {
    -fx-background-color: #6a6d72;  /* Changement de couleur au survol */
    -fx-border-color: #525151;
}

/* Style pour la ToolBar horizontale (topbar) */
.tool-bar.horizontal {
    -fx-background-color: #ecf0f1;  /* Fond plus clair */
    -fx-spacing: 30;
    -fx-padding: 15;
}

/* Icône dans la ToolBar horizontale */
.tool-bar.horizontal .image-view {
    -fx-padding: 10;
    -fx-background-radius: 50%;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.5, 2, 2);
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-fit-height: 100px;
    -fx-fit-width: 100px;
}

/* Style pour les images dans la topbar */
.topbar-logo {
    -fx-fit-width: 200px;
    -fx-fit-height: 73px;
    -fx-preserve-ratio: true;
}

/* Image d'icône pour la ToolBar (remplacer par vos icônes) */
.tool-bar .button .graphic {
    -fx-padding: 0 10 0 0;
}

/* Ajout d'animations au survol des boutons */
.tool-bar .button:hover {
    -fx-background-color: #df2c2c;
    -fx-text-fill: #ecf0f1;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: all 0.3s ease;
}



/**************************/
.list-cell {
    -fx-padding: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 0 1px 0;
    -fx-font-size: 14px;
}

.list-view {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #bbbbbb;
    -fx-border-width: 1px;
}
